* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #0066cc;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    height: 60px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.site-title {
    font-size: 2.5rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.nav a svg {
    flex-shrink: 0;
}

.nav li.active {
    background-color: #0055cc;
}

.nav li:hover {
    background-color: #004499;
}
